<html lang="en">
<head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ 'all.min.css' | asset_url }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="all"/>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
    {% style %}
        {{ settings.heading_font | font_face: font_display: 'swap' }}
        {{ settings.body_font | font_face: font_display: 'swap' }}
        :root{
        --heading-font: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
        --body-font: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
        }
    {% endstyle %}

    <script src="{{ 'cart.js' | asset_url }}" type="text/javascript" defer></script>
    <script src="{{ 'theme.js' | asset_url }}" type="text/javascript" defer></script>
</head>
<body>
{% sections 'header-group' %}
{{ content_for_layout }}
{% sections 'footer-group' %}
</body>
</html>